@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Create a TXT file in memory and download it</h1>
    <p>Example <a asp-controller="home" asp-action="download">Click to Download</a>.</p>
</div>
